body {
    background-color: black;
    color: white;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

input[type=number]{
  border: 4px white;
  border-radius: 4px;
  max-width: 40px;
  }

.flex{
  display: flex;
  justify-content: center;
  }

.title{
  text-align: center;
  }

.main{
  width: 400px;
  padding: 15px;
  border: 3px solid cornflowerblue;
  border-radius: 10px;
  }

.content{
justify-content: flex-start;
}

.footer{
padding: 15px;
}

.footer-cell{
display: inline-flex;
justify-content: center;
}

.row{
  padding: 10px;
  border: 2px cornflowerblue;
  border-bottom-style: solid;
  }

.diceResult{
    width: 200;
    height: 100;
    text-align: center;
    color: white;
    font-size: 14;
    border: 3px solid white;
    border-radius: 8px;
    overflow-wrap: break-word;
    overflow: auto;
  }
 
.button{
    background-color: #800000;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
